<!DOCTYPE html>
<html lang="en">

    <head>

        <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" crossorigin="anonymous"></script>
     
        <title>Sentiment Based Product Recommendation System</title>
    <style>
        h1 {text-align: center;}
        form {text-align: center;}
        table, th, td {
            border: 1px solid black;
        }
                
    </style>
    </head>
<body>
    <centre><h1>Sentiment Based Product Recommendation System</h1> </centre>
    
</body>
<form action= "#"" method= 'post'>
    
    <form action="/action_page.php">
    <input type="radio" name="Radio1" id="senti" value="SentimentAnalysis" checked=true> Sentiment Analysis

    <input type="radio" name="Radio1" id="userRec" value="UserRecommendation">User Product Recommendation

    <input type="radio"  name="Radio1" id="itemRec" value="ItemRecommendation"> Item Recommendation
    <p><b>Enter your data:   </b><input type= "Input" id ="input_id" name= "Enter Text"></input></p>
        <p><input type = "button" onclick = "myfunction()" value = "Submit">   </p>
        <p><label id = "sentiment_value"></label></p>
    </form>
        

    </div>
</form>
<br>
<br>
<script type = "text/javascript">  
    document.getElementById("input_id").setAttribute('size', '50');
    document.getElementById('input_id').style.height="30px";
    function myfunction() {   
        var selectedOption = $("input:radio[name=Radio1]:checked").val()
        Inp_Value = document.getElementById("input_id").value;
        var targeturl = '';

        if(Inp_Value==null){
            alert("Please enter proper value...");
            return
        }
        if(selectedOption == "SentimentAnalysis"){
            targeturl = '/SentimentAnalysis?param1='+Inp_Value;
        }
        if(selectedOption == "UserRecommendation"){
            targeturl = '/UserRecommendation?param1='+Inp_Value;
        }
        if(selectedOption == "ItemRecommendation"){
            targeturl = '/dummy?param1='+Inp_Value;
        }
        $.ajax({
                 url: targeturl,
                 type: 'POST',                 
                 success: function(result) {
                    document.getElementById("sentiment_value").innerHTML =""    
                    if(selectedOption == "UserRecommendation"){
                        if(result == ""){
                            alert("User not found  ");
                            return
                        }
                        json = JSON.parse(result)
                        resp = "<table><thead><tr> <th><b>Id</b></th><th><b>Name</b></th><th><b>Brand</b></th><th><b>Manufacturer</b></th></tr></thead>"
                        for(count = 0; count < json.length; count++) {
                            resp += "<tr><td align ='left'>"+json[count].id+"</td>"
                            resp += "<td align ='left' width: 200px;word-wrap: break-word;>"+json[count].name+"</td>"
                            resp += "<td align ='left'>"+json[count].brand+"</td>"
                            resp += "<td align ='left'>"+json[count].manufacturer+"</td></tr>"
                        }
                        resp += "</table>"
                        document.getElementById("sentiment_value").innerHTML =resp    
                    }else {
                        document.getElementById("sentiment_value").innerHTML =result    
                    }           
                 }
                     
             });
    } 
   
    
</script>  


</html>